@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg--black--900: #18171f;
    /* Fondo oscuro */
    --bg--black--100: #23222e;
    /* Fondo más oscuro */
    --bg--black--50: #2f2d3a;
    /* Fondo aún más oscuro */
    --text-black-900: #f0f0ff;
    /* Texto claro */
    --text-black-700: #ccccee;
    /* Texto menos claro */
    --skin--color-red: #d62326;
    /* Rojo con un tono más intenso */
}

body {
    background: var(--bg--black--100);
    font-family: "Comfortaa", sans-serif;
}


/* Menu */

.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    min-height: 72.5px;
    background: var(--bg--black--900);
}

.menu {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: var(--text-black-900);
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: var(--text-black-900);
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover,
.menu .navbar ul li a:active {
    color: var(--skin--color-red);
    /* Cambiar a color de hover */
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;

}

@media (max-width:991px) {

    .content {
        min-height: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
        transition: max-height 0.5s ease-out;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--bg--black--900);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
    }

    .menu .navbar ul li {
        text-align: center;
        width: 99%;
    }

    #menu:checked~.navbar {
        z-index: 2;
        max-height: 500px;
        /* Ajusta según la altura del contenido */
        opacity: 1;
        visibility: visible;
    }
}

/* home */

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.video-contain {
    position: relative;
    width: 100%;
    height: 92.5vh;
}

.background-video {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.overlay-content {
    max-width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-black-900);
    text-align: center;
    z-index: 2;
    padding: 20px;
    line-height: 1.5;
}

.overlay-content h1 {
    margin-bottom: 18px;
    font-size: 3rem;
    
}

.overlay-content p {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.btn {
    padding: 10px 20px;
    background-color: var(--text-black-900);
    color: var(--skin--color-red);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
   
}

.btn:hover {
    background-color: #e8e8fa;
    transform: scale(1.05);
}

.btn a {
    color: var(--bg--black--50);
}

/* nosotros */

.Nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}


.img0 {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(36, 36, 36, 0.5));
    float: left;
}

.text-box {
    color: var(--text-black-900);
    padding: 20px;
}

.text-box h2 {
    font-size: 42px;
    margin-bottom: 20px;
    font-family: "Comfortaa", sans-serif;
}

.text-box hr {
    border: none;
    border-top: 2px dashed var(--text-black-900);
    margin: 20px 0;
}

.text-box p {
    font-size: 21px;
    line-height: 1.6;
    font-family: "Raleway", sans-serif;
}

/* Servicios */

.Servicios {
    height: 100vh;
    width: 100%;
    margin: 30px 0; 
}

.text {
    width: 65%;
    margin: 0 auto;
    color: var(--text-black-900);
    text-align: center;
}

.text h2 {
    padding: 25px;
    font-size: 50px;
    font-family: "Comfortaa", sans-serif;

}


.text p {
    font-size: 25px;
    margin-bottom: 25px;
    font-family: "Raleway", sans-serif;
}

/* Card */

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 85%;
    margin: 0 auto;
    padding: 30px;
    color: var(--text-black-900);
}

.sub-card {
    background: var(--text-black-900);
    border-radius: 25px;

}


.sub-card hr {
    margin: 20px;
}

.sub-card p {
    color: var(--bg--black--100);
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 12px 10px;
    font-family: "Raleway", sans-serif;
}

.sub-card h2 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    margin-top: 20px;
    color: var(--bg--black--100);
}

/* Contacto */

.contacto {
    width: 100%;
    height: 100vh;
}

.info {
    position: relative;
    text-align: center;
    padding: 30px;
    color: var(--text-black-900);
}

.info h2 {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: "Comfortaa", sans-serif;
}

.info h3 {
    margin-bottom: 30px;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}

.info p {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.info-card {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas inicialmente */
    gap: 20px;
    text-align: center;
    padding: 50px;
}

.icon {
    color: var(--skin--color-red);
    font-size: 25px;
    margin-bottom: 20px;
}

.card1 h4 {
    font-size: 18px;
    color: var(--text-black-900);
    margin-bottom: 23px;
}

.card1 p {
    font-size: 16px;
    color: var(--text-black-900);
}

/* Contac */

.contact-content {
    width: 60%;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.form-content {
    flex: 1 1 45%;
}

.map-content {
    flex: 1 1 45%;
    height: 350px;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-label {
    display: block;
}

.form-input, 
.form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    color: var(--text-black-900);
    background: var(--bg--black--50);
    outline: none;
    transition: border-color 0.3s;
    border: 1px solid transparent;
    outline: none;
}

.form-input:focus, 
.form-textarea:focus {
    border-color: var(--skin--color-red);
}

.form-text {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--text-black-900);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    pointer-events: none;
}

.form-input:not(:placeholder-shown) + .form-text,
.form-input:focus + .form-text {
    top: -10px;
    font-size: 14px;
    color: var(--skin--color-red);
}

.btn-1 {
    display: flex;
    width: 99%;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 16px;
    color: var(--text-black-700);
    background-color: var(--skin--color-red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-1:hover {
    background-color: var(--skin--color-red);
}


textarea {
    font-weight: c;
}

/* footer */

footer {
    background-color: var(--bg--black--900);
    color: var(--text-black-700);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info h2 {
    margin: 0;
    font-size: 24px;
    color: var(--text-black-900);

}

.footer-info p {
    margin: 5px 0 20px 0;
    font-size: 16px;
    color: var(--text-black-900);

}

.footer-socials a {
    margin: 0 10px;

}

.footer-socials a:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.footer-socials img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(88%) sepia(14%) saturate(252%) hue-rotate(174deg) brightness(93%) contrast(96%);
}

.footer-socials img:hover {
    filter: brightness(0) saturate(100%) invert(88%) sepia(14%) saturate(252%) hue-rotate(174deg) brightness(100%) contrast(100%);
}

.footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: var(--text-black-900);
    font-family: 'Inconsolata', sans-serif;
}


@media (max-width: 890px) {
    .img0 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .text-box h2 {
        text-align: center;
    }

    
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .Servicios {
        height: auto;
    }

    .info-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

}

@media (max-width: 768px) {

    .Nosotros {
        flex-direction: column;
        text-align: center;
    }

    .img0 {
        float: none;
        margin: 0 auto 20px;
    }

    .text-box {
        padding: 10px;
    }

    .info-card,
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .Servicios {
        height: auto;
    }

    .contact-content {
        flex-direction: column;
    }

    .map-content {
        height: 300px;
    }
}

@media (max-width: 500px) {

    .wrapper {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .img0 {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .img0 img {
        width: 100%;
    }

    .text-box {
        width: 100%;
        padding: 10px;
    }

    .card-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .contact-content {
        width: 90%;
    }

    .btn-1 {
        width: 100%;
    }
}

